<footer class="site-footer">
  <div class="wrapper">
    <div class="mailchimp-email-sign-up">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//cyclehacktc.us10.list-manage.com/subscribe/post?u=93efdfccfe0d5313a7ff6db07&amp;id=a00f68a0f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_93efdfccfe0d5313a7ff6db07_a00f68a0f5" tabindex="-1" value="">
          </div>

  	      <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
  	      <input type="email" placeholder="Enter your email and stay in touch" value="" name="EMAIL" class="required email" id="mce-EMAIL">

        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>

          <input type="submit" value="Signup" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>

    <div class="icon-block">
      <a href="https://twitter.com/cyclehacktc" target="_blank" title="Follow us on Twitter">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="https://www.facebook.com/cyclehack" target="_blank" title="Follow us on Facebook">
        <i class="fa fa-facebook"></i>
      </a>
  </div>
</footer>
