
<!-- Scripts -->
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/parallax.js/parallax.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="{{ site.baseurl }}/bower_components/fastclick/lib/fastclick.js"></script>
<script src="{{ site.baseurl }}/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
