/**
 * Main site styles
 */

/**
 * Element styles
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $default-text-color;
  background-color: $default-background-color;
}

a, a:visited {
  color: $default-text-color;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

h1 {
}

h2 {
  font-size: 2em;
  font-family: "abelregular";
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

/**
 * General styles
 */

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: #565656;
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: $foundation-large-point;

  @media (max-width: $foundation-large-point) {
    width: 100%;
    padding: 0 0.5em;
  }
}

.mini-wrapper {
  margin: 0 auto;
  max-width: 30em;
}

.line-divider {
  border-bottom: 1px solid $default-text-color;
  min-height: 1px;
  width: 50%;
  margin: 0 auto;
}

/**
 * Header styles
 */
.site-header {
  width: 100%;
  text-align: center;
  padding: 3em 0 10em 0;
  background: transparent url("../images/banner-1500.png") center bottom repeat-x;

  @media only screen and (max-width: $foundation-large-point) {
    & {
      padding-bottom: 10em;
    }
  }

  .title-block {
    display: inline-block;
    vertical-align: top;
    padding-top: 2em;

    .site-title {
      font-size: 3em;
      margin: 0;
      padding: 0;
      font-family: "bebasregular", sans-serif;
    }

    .site-subtitle {
      font-size: 2em;
      margin: 0;
      padding-top: 0.5em;
      font-family: "chunkfiveroman";
    }
  }

  .site-logo {
    display: inline-block;
    width: 15em;
    margin: 0 1em 1em 0;
  }
}

/**
 * Footer styles
 */
.site-footer {
  width: 100%;
  padding-top: 6em;
  padding-bottom: 200px;
  margin-bottom: 3em;
  background: transparent url("../images/banner-1500.png") center bottom repeat-x;

  .icon-block {
    text-align: center;
    font-size: 2em;

    a {
      display: inline-block;
      margin: 0 1em 1em 0;
    }
  }
}

/**
 * Mailchimp signup
 */
#mc_embed_signup form {
  margin-bottom: 0em;
  padding: 2em 2em 1em 2em;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 2px;
  font-family: "chunkfiveroman";
  font-size: 1.5em;

  @media only screen and (max-width: $foundation-medium-point) {
    & {
      padding: 2em 1em 1em 1em;
    }
  }

  input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1em;
  }

  input#mc-embedded-subscribe {
    font-size: 0.85em;
    background-color: $alt-background-color;
    color: $alt-text-color;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
    padding-right: 5px;

    @media only screen and (max-width: $foundation-medium-point) {
      & {
        font-size: 0.5em;
        text-align: left;
      }
    }

    &:hover {
      background-color: $default-background-color;
      color: $default-text-color;
    }
  }
}

/**
 * Main body sections
 */
section.block {
  width: 100%;
  padding: 4em 0;

  &.description-block {

    .wrapper p {
      font-family: "abelregular";
      font-size: 2em;

      &.sub-description {
        font-size: 1.5em;
        font-family: inherit;
      }

      @media only screen and (max-width: $foundation-small-point) {
        & {
          padding: 0 0.75em;
        }
      }
    }
  }

  &.spon-block {
    background-color: $alt3-background-color;

    .wrapper {
      text-align: center;

      .sponsor-list {
        margin-bottom: 1em;

        .sponsor {
          padding: 1em;
          vertical-align: middle;
          display: inline-block;
          max-width: 25%;
          max-height: 10em;

          @media only screen and (max-width: $foundation-medium-point) {
            & {
              max-width: 50%;
            }
          }

          @media only screen and (max-width: $foundation-small-point) {
            & {
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  &.register-block {
    padding: 3em;

    .wrapper {
      margin: 3em auto;
      padding: 3em;
      text-align: center;
      background-color: rgba(100, 100, 100, 0.6);
    }

    p {
      font-size: 1.5em;
      color: $alt-text-color;
      padding: 0 0.5em;
      margin-bottom: 2em;
    }

    .register-button {
      text-transform: uppercase;
      color: $alt-text-color;
      background-color: transparent;
      font-family: "abelregular";
      border: 5px solid white;
      border-radius: 3px;
      color: white;
      letter-spacing: 3px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  &.email-block {
    padding: 6em 0;
  }

  &.team-block {

    h2 {
      text-align: center;
      margin-bottom: 1em;
    }

    h4 {
      font-size: 1em;
      line-height: 2em;
      margin: 0;
      padding: 0;
    }

    .team-member {
      padding: 0 1em 1em 1em;
      margin-bottom: 0.5em;
      text-align: center;

      .team-image img {
        max-width: 90%;
        max-height: 10em;
      }
    }
  }

  &.location-block {
    position: relative;

    .map-background {
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .wrapper {
      z-index: 100;
      position: relative;
    }

    .location-wrapper {
      margin: 3em 0 3em auto;
      padding: 2em;
      text-align: left;
      background-color: rgba(100, 100, 100, 0.85);
      color: $alt-text-color;
      width: 33.33333%;

      @media only screen and (max-width: $foundation-small-point) {
        & {
          width: 50%;
        }
      }
    }
  }
}
