/**
 * Main site styles
 */

/**
 * Element styles
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $default-text-color;
  background-color: $default-background-color;
}

a, a:visited {
  color: $default-text-color;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

h1 {
}

h2 {
  font-size: 2em;
  font-family: "abelregular";
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

/**
 * General styles
 */

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: #565656;
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 60em;

  @media (max-width: 60em) {
    width: 100%;
    padding: 0 0.25em;
  }
}

.line-divider {
  border-bottom: 1px solid $default-text-color;
  min-height: 1px;
  width: 50%;
  margin: 0 auto;
}

/**
 * Header styles
 */
.site-header {
  width: 100%;
  text-align: center;
  padding: 3em 0;

  .title-block {
    display: inline-block;
    vertical-align: top;
    padding-top: 2em;

    .site-title {
      font-size: 3em;
      margin: 0;
      padding: 0;
      font-family: "bebasregular", sans-serif;
    }

    .site-subtitle {
      font-size: 2em;
      margin: 0;
      padding-top: 0.5em;
      font-family: "chunkfiveroman";
    }
  }

  .site-logo {
    display: inline-block;
    width: 15em;
    margin: 0 1em 1em 0;
  }
}

/**
 * Footer styles
 */
.site-footer {
  width: 100%;
  padding-top: 6em;
  padding-bottom: 200px;
  margin-bottom: 3em;
  background: transparent url("../images/banner-1500.png") center bottom repeat-x;

  .icon-block {
    text-align: center;
    font-size: 2em;

    a {
      display: inline-block;
      margin: 0 1em 1em 0;
    }
  }
}

/**
 * Mailchimp signup
 */
#mc_embed_signup form {
  margin-bottom: 0em;
  padding: 2em;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 2px;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  font-family: "chunkfiveroman";

  label {
    display: none;
  }

  div, input {
    display: inline-block;
  }

  input {
    padding: 0.25em 0.5em;
    margin: 0 0 0.5em 0;
    vertical-align: middle;
    width: auto;
    border-radius: 2px;
  }

  input#mce-EMAIL {
    width: 75%;
    border: 1px solid #BDBDBD;
  }

  input#mc-embedded-subscribe {
    background-color: $default-background-color;
    color: $default-text-color;
    border: none;

    &:hover {
      background-color: $alt-background-color;
      color: $alt-text-color;
    }
  }
}

/**
 * Main body sections
 */
section.block {
  width: 100%;
  padding: 4em 0;

  &.description-block {
    color: $alt-text-color;
    background-color: $alt-background-color;

    .wrapper p {
      font-family: "abelregular";
      font-size: 2em;
    }
  }

  &.spon-block {
    background-color: $alt3-background-color;

    .wrapper {
      text-align: center;

      .sponsor-list {
        margin-bottom: 1em;
        text-align: center;

        .sponsor {
          width: 25%;
          padding: 1em;
          display: inline-block;
          vertical-align: middle;

          img {
            display: inline-block;
          }
        }
      }
    }
  }

  &.email-block {
    padding: 6em 0;
  }

  &.team-block {

    h2 {
      text-align: center;
      margin-bottom: 1em;
    }

    .team-member {
      width: 25%;
      float: left;
      padding: 0 1em 1em 1em;

      @media (max-width: 900px) {
        width: 50%;
      }

      @media (max-width: 500px) {
        width: 100%;
      }

      h4 {
        text-align: center;
      }

      .team-image {
        text-align: center;

        img {
          max-width: 75%;
          max-height: 3em;
          border-radius: 50%;
        }
      }
    }
  }
}
